{{ "<!-- Offices-->" | safeHTML }}
<section id="offices">
    <div class="container">
        <div class="row">
            {{ range .Site.Data.offices }}
            <div class="col-xs-6 col-sm-4">
                <h3>{{ .name }}</h3>
                <address>
                    <p>{{ markdownify .address }}</p>
                    {{ with .phone }}
                    <i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{{ markdownify . }}
                    {{ end }}
                </address>
            </div>
            {{ end }}
        </div>
    </div>
</section>
