<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head" . }}
        {{ partial "styles-head" . }}
        {{ partial "favicons" . }}
    </head>
    <body id="page-top">
        {{ partial "nav-child" . }}

        {{ partial "contact-form" . }}
        {{ partial "office-list" . }}

        {{ partial "footer" . }}
        {{ partial "js.html" . }}
        <script src="/js/jqBootstrapValidation.js"></script>
        <script src="/js/contactFormValidation.js"></script>
    </body>
</html>
